defaults
  mode http
  option httplog
  log /dev/log local0
  timeout connect 5000ms
  timeout client 60000ms
  timeout server 60000ms

frontend http
  bind *:80
  monitor-uri /healthcheck/haproxy
  default_backend tls

backend tls
  server srv ${HAPROXY_BACKED_OPTIONS}
